<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.moviebox.reservation.model.vo.Reservation" alias="reservation"/>
		<typeAlias type="com.kh.moviebox.reservation.model.vo.PriceSheet" alias="priceSheet"/>
		<typeAlias type="com.kh.moviebox.member.model.vo.MemberGenre" alias="memberGenre"/>
		<typeAlias type="com.kh.moviebox.common.model.vo.Location" alias="location"/>
		<typeAlias type="com.kh.moviebox.theater.model.vo.Theater" alias="theater"/>
		<typeAlias type="com.kh.moviebox.theater.model.vo.Screen" alias="screen"/>
		<typeAlias type="com.kh.moviebox.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.moviebox.common.model.vo.Price" alias="price"/>
		<typeAlias type="com.kh.moviebox.movie.model.vo.Movie" alias="movie"/>
		<typeAlias type="com.kh.moviebox.theater.model.vo.Seat" alias="seat"/>
	</typeAliases>
	<!-- 
		environments, dataSource에 기술했던 DB연결정보
		
		=> DB 등록정보는 서버가 실행됨과 동기에 이루어져야 하는 작업
		서버켜짐과 동시에 읽혀지는 파일인 root-context.xml에 기술할 예정
		
		Spring Bean등록...  
	-->
	<mappers>
		<mapper resource="/mapper/reservation/reservation-mapper.xml"/>
		<mapper resource="/mapper/member/member-mapper.xml"/>
		<mapper resource="/mapper/board/board-mapper.xml"/>
		<mapper resource="/mapper/movie/movie-mapper.xml"/>
	</mappers>
	<!-- 주의할 점! : 매퍼파일을 등록하기 위해서는 반드시 해당경로에 파일이 존재해야하며 namespace속성값도 있어야함! -->


</configuration>
